@use  "../global" as global;

.l-access{
    position: relative;
    overflow-x: clip;

    &::before {
        z-index: 1;
        position: absolute;
        content: "";
        top: -164px;
        right: -73px;
        width: 370px;
        height: 359px;
        background: url(../img/bg_bread.png);
        background-size: contain;

        @include global.mq('sp') {
            width: 180px;
            height: 180px;
            top: -110px;
            right: -52px;

        }
    }

}

.l-access__wrapper{
    background-color: global.$c-b;
    padding: 80px 0px;
    margin-top: 170px;

    @include global.mq('sp') {
        margin-top: 160px;
    }

}



.l-access__inner{
    max-width: 768px;
    margin: 0 auto;

    @include global.mq('pc') {
        padding: 0 40px;
    }
    @include global.mq('sp') {
        padding: 0 20px;
    }

    position: relative;

    &::before {
        z-index: 1;
        position: absolute;
        content: "";
        top: -263px;
        left: 80px;
        width: 233px;
        height: 200px;
        background: url(../img/img_balloon-access.png);
        background-size: 100% auto;
        background-repeat: no-repeat;

        @include global.mq('sp') {
            width: 200px;
            height: 140px;
            background-repeat: no-repeat;
            top: -237px;
            left: -30px;

        }
    }

}


.l-access__info{
    @include global.mq('sp') {
        margin-top: 32px;
}

}


.access-flexRight{
    @include global.mq('pc') {
        // margin-left: auto;
    }

}




.iframe-wrap{
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 54.940%; 
    background-color: global.$c-txt2;
    border: 10px solid global.$c-txt2;

    @include global.mq("sp"){
        margin-top: 24px;
        border: 5px solid global.$c-txt2;
    }
}
.iframe-wrap iframe {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* WPでの記述
===================================== */

.access-flexRight_second{
    @include global.mq('pc') {
        width: 324px;
    }
}
.access-flexLeft{

    @include global.mq('pc') {
        margin-right: 40px;
        width: 324px;
        
    }
}

.access-info_sec {
    margin-top: -7px;
}


